<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href='../public/css/style.css' rel="stylesheet" type="text/css">
    <title>Bowling</title>
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../src/game.js"></script>
    <Script src="../src/interface.js"></script>
  </head>
  <body>
    <div class='score'>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='1-1'>
          </div>
          <div class='roll2' id='1-2'>
          </div>
        </div>
        <div class='frame-total' id='1-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='2-1'>
          </div>
          <div class='roll2' id='2-2'>
          </div>
        </div>
        <div class='frame-total' id='2-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='3-1'>
          </div>
          <div class='roll2' id='3-2'>
          </div>
        </div>
        <div class='frame-total' id='3-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='4-1'>
          </div>
          <div class='roll2' id='4-2'>
          </div>
        </div>
        <div class='frame-total' id='4-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='5-1'>
          </div>
          <div class='roll2' id='5-2'>
          </div>
        </div>
        <div class='frame-total' id='5-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='6-1'>
          </div>
          <div class='roll2' id='6-2'>
          </div>
        </div>
        <div class='frame-total' id='6-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='7-1'>
          </div>
          <div class='roll2' id='7-2'>
          </div>
        </div>
        <div class='frame-total' id='7-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='8-1'>
          </div>
          <div class='roll2' id='8-2'>
          </div>
        </div>
        <div class='frame-total' id='8-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='9-1'>
          </div>
          <div class='roll2' id='9-2'>
          </div>
        </div>
        <div class='frame-total' id='9-t'>
        </div>
      </div>
      <div class='frame'>
        <div class='points'>
          <div class='roll1' id='10-1'>
          </div>
          <div class='roll2' id='10-2'>
          </div>
        </div>
        <div class='frame-total' id='10-t'>
        </div>
      </div>
    </div>

    <button>Play</button>
  </body>
</html>
